---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import PreFooter from "@/components/PreFooter.astro";
import Footer from "@/components/Footer.astro";
import Intro from "@/components/Intro.astro";
import Video from "@/components/Video.astro";
import Bentro from "@/components/Bentro.astro";
import "@/styles/global.css";
---

<Layout
  title="Premios EsLand 2024 - Celebrando lo mejor del streaming"
  description="Descubre a los mejores streamers de Latinoamerica en los Premios EsLand 2024"
>
  <Video />
  <main>
    <Intro />
    <Header />
    <Bentro />
    <PreFooter />
  </main>
  <Footer />
</Layout>
